   body
        {
           background-color:#CAF1DE; 
            margin: 0;
            
        }
        

        h1{
            text-align: center;
        }
        #box1{
          display:flex;
          justify-content: center;
          gap:10px;
                 }
        #main-div{

            display:flex;
            justify-content: center;
             flex-direction: column;
            gap: 20px;
        }
        #input-data{
            border-radius: 2px;
            padding: 5px;
            margin-top: 10px;

            color: #FFFAF0;
            border: 2px solid  #ACDDDE ;
            background-color: #ACDDDE;
        }
        #btn1{
       
           padding-top:-5px;
            background-color:#ACDDDE ;
            color:#2C3E5O;
            border:none;
            margin-top: 10px;
        
         
        }
        #para{
            color:#25423c ;
            font-weight: bold;
           text-align: center;
        }
        #main-div{
            background-color: #ACDDDE;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 4px 4px 4px #42625f;
            margin: 6%;
        }
        img{
            width: 85%;
            border-radius: 20px;
            text-align: center;
            padding: 10px;
        }
        #title{
            font-size:30px;
            font-weight: bold;

        }
        
      
       
    
